Source: enumiax
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://enumiax.sourceforge.net/
Vcs-Git: ssh://git@git.kali.org/packages/enumiax.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/enumiax.git;a=summary

Package: enumiax
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IAX protocol username enumerator
 enumIAX is an Inter Asterisk Exchange protocol username 
 brute-force enumerator.
 enumIAX may operate in two distinct modes; Sequential 
 Username Guessing or Dictionary Attack.
